<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'notes/style.css' %}" />
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->



        <div class="main_container">
            {% if not deleted %}
                <form action="/notes/update/" method="post">{% csrf_token %}
            {% else %}
                <form method="post" action="javascript:;">
            {% endif %}

            <section class="notes_list">
                {% block empty %}
                    {% if list_of_notes %}
                        {% if newspace %}
                            <a href="javascript:;">
                                <div class="note_selector selected">
                                    <h2>New note</h2>
                                    <p>To be published now</p>
                                </div>
                            </a>
                        {% endif %}
                        {% for note in list_of_notes %}
                            <a href="{% url 'notes:read' note_id=note.id %}">
                                <div class="note_selector {% if note.id == target.id %} selected {% endif %}">
                                <h2>{{ note.title }}</h2>
                                <p>Last edited: {{ note.last_update_date }}</p>
                                </div>
                            </a>
                        {% endfor %}
                    {% endif %}
                    
                <div class="nav_buttons">
                    <a href="{% url 'notes:create' %}">+</a>
                    <a href="{% if not deleted %}{# url 'notes:delete' note_id=target.id #}{% else %}javascript:;{% endif %}">–</a>
                    <input type="submit" value='' style="background:url({% static 'notes/savedisk.png' %}) no-repeat;">
                </div>

            </section> <!-- notes_list -->

            <section class="note_text">
                {% if list_of_notes %}
                    {% if newspace %}
                        <a href="javascript:;">
                            <div class="note_selector selected">
                                <h2>New note</h2>
                                <p>To be published now</p>
                            </div>
                        </a>
                    {% else %}
                        {% if deleted %}
                            <h1>Note: {{ tempid }} was deleted</h1>
                            <p>Please enter a note</p>
                        {% else %}
                            {{ form.non_field_errors }}
                            <div class="note_title">
                                {{ form.title.errors }}
                                <label for="id_title"></label>
                                <input type="text" name="title" value="Write title here">
                            </div>
                            <div class="note_content">
                                {{ form.content.errors }}
                                <label for="id_content"></label>
                                <textarea name="content" rows="30" cols="65">Write content here</textarea>
                            </div>
                            <div class="note_id">
                                <label for="id_noteid"></label>
                                <input type="hidden" name="noteid" value="{{ noteid }}">
                            </div>
                           </form>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <h1>Please enter a title</h1>
                    <p>Please enter a note</p>
                {% endif %}
            </section>
                {% endblock empty %}
            <div style="clear:both;"></div>

        </div> <!-- main_container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="{% static 'notes/main.js' %}"></script>
    </body>
</html>
